.page {
	width: 100%;
	height: 100%;
	background-color: white;
}
.card {
	/* upx 是一个响应式样式 */
	width: 650upx;
	height: 360upx;
	background: url('http://itzixi.com:88/group1/M00/00/05/CpoxxFx6IbaAVgYMAAC3osiLBpo919.jpg');
}